<div class="cart-checkout">
  <div class="shopping-cart">
    <%= render "carts/shopping_cart", line_item: @line_item, line_items: @line_items %>
  
    <div class="checkout-button">
      <%= button_to "Checkout", new_checkout_path,method: :get, class: "btn btn-primary" %>
      <%= button_to "Clear Cart", cart_path,method: :delete, class: "btn btn-danger" %>
    </div>
  </div>
  <div class="well shoping-cart-total">
    <p>SubTotal: <%=number_to_currency current_order.subtotal%></p>
    <p>Items: <%=current_order.line_items.size%></p>
    <p>Tax: <%=current_order.tax%></p>
  </div>
</div>


