<%= form_tag  url_for(controller: :payments, action: :create), method: :post,id: "payment-form" do  %>
<div class='credit-card-form'>
  <span class="payment-errors"></span>
  <%= hidden_field_tag 'payment_type',  'credit_card' %>
  <div class="form-group">
    <%= label_tag 'first_name',nil, class: "control-label" %>
    <%= text_field_tag 'first_name',  current_user.first_name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= label_tag 'last_name',nil, class: "control-label" %>
    <%= text_field_tag 'last_name', current_user.last_name, class: "form-control" %>
  </div>
  <div class="form-group">
  <label>
    <span>Card Number</span>
      <input type="text" size="20" required data-securionpay="number" />
  </label>
  </div>

  <div class="form-group">
    <label>
      <span>CVC</span>
      <input type="text" size="3" required data-securionpay="cvc" />
    </label>
   </div>

    <div class="form-group">
      <label>
        <span>Expiration (MM/YYYY)</span>
        <input type="text" size="2" required data-securionpay="expMonth" />
      </label>
      <span> / </span>
        <input type="text" size="4" required data-securionpay="expYear" />
    </div>
    <div class="form-group">
      <%= submit_tag "Charge Credit Card", class: "btn btn-primary" %>
    </div>
</div>
<% end %>