<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <h1>Proceed to payment</h1>

    <div class="well">
      <%= form_tag  url_for(controller: :payments, action: :create), method: :post,id: "payment-form" do  %>
      <span class="payment-errors"></span>
        <div class="form-group">
          <%= label_tag 'first_name',nil, class: "control-label" %>
          <%= text_field_tag 'first_name',  current_user.first_name, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= label_tag 'last_name',nil, class: "control-label" %>
          <%= text_field_tag 'last_name', current_user.last_name, class: "form-control" %>
        </div>
        <div class="form-group">
        <label>
            <span>Card Number</span>
            <input type="text" size="20" data-securionpay="number" />
        </label>
        </div>

        <div class="form-group">
          <label>
            <span>CVC</span>
            <input type="text" size="4" data-securionpay="cvc" />
          </label>
        </div>

        <div class="form-group">
          <label>
            <span>Expiration (MM/YYYY)</span>
            <input type="text" size="2" data-securionpay="expMonth" />
        </label>
        <span> / </span>
        <input type="text" size="4" data-securionpay="expYear" />
        </div>
        <div class="form-group">
          <%= submit_tag "Charge Credit Card", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
    
    

<script type="text/javascript" src="https://securionpay.com/js/securionpay.js"></script>

<script type="text/javascript">
  // This is required to identify your account
  Securionpay.setPublicKey('pk_test_gADSExpVSWDlLXDDQyRv6fFN');
</script>
<script type="text/javascript">
  $('#payment-form').submit(function(e) {
    var form = $('#payment-form');
    
    // Disable form submit button to prevent repeatable submits
    form.find('button').prop('disabled', true);
    
    // Send card data to SecurionPay
    Securionpay.createCardToken(form, createCardTokenCallback);
  
    // Prevent the form from submitting default action
    return false;
  });

  function createCardTokenCallback(token) {
  var form = $('#payment-form');
  
  // Check for errors
  if (token.error) {
    // Display error message
    form.find('.payment-errors').text(token.error.message);
    // Re-enable form submit button
    form.find('button').prop('disabled', false);
  } else {
    // Append token to the form so that it will be send to server
    form.append($('<input type="hidden" name="token" />').val(token.id));

    // Submit the form with its default action
    form.unbind();
    form.submit();
  }
}
</script>