<td><%= image_tag(url_for(item.image.variant(resize: "50x50"))) if item.image.attached?%></td>
<td><%= item.name %></td>
<td><%= item.description %></td>
<td><%= item.price %>
<td><%= button_to "Add to Cart", '#', class: "btn btn-primary" %></td>