<p id="notice"><%= notice %></p>

<h1>Items</h1>
<h3>Browse By Categories</h3>
<%= form_with url: items_path,method: :get do |form| %>
  <div class='form-group'>
    <%= form.select  :category, Item.item_category_types.keys,{}, { class: 'form-control', onchange: 'this.form.submit();' } %>
  </div>
<% end %>
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <%= render item %>
        <td><%= link_to 'Show', item %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

