<%= render "item", item: @item, line_item: @line_item %>
<%= link_to 'Back', items_path %>
<hr>
<section class="reviews">
  <% if current_user %>
  <%= render partial: 'reviews/form' %>
  <% end %>
<section class="review-section">
<% @reviews.includes(:review_replies).each do |review| %>
  <article class="comment user-comment">
    <%= render partial: "reviews/review", locals: {review: review }%>
    <%= render partial: "review_replies/form", locals: {review: review, item: @item} %>
   <% review.review_replies.each do |reply| %>
     <div class='card reply hide'>
       <div class="card-body">
         <div class="row">
           <div class="col-md-10">
             <h5>Title: <span><%= reply.title %> </span></h5>
             <hr>
             <p>Description: <%= reply.description %></p>

           </div>
         </div>
      </div>
     </div>
    <% end %>
  </article>
<% end %>
</section>
</section>
<script>
  var reply = document.querySelector('.fa-reply').parentElement
  reply.addEventListener('click',showReplyDiv)

  function showReplyDiv(e) {
  	e.preventDefault()
  	parentCardDiv = e.target.parentElement.parentElement.parentElement.parentElement
  	replyReviewDiv = parentCardDiv.nextElementSibling
  	replyReviewDiv.classList.contains('hide') ? replyReviewDiv.classList.remove('hide') : replyReviewDiv.classList.add('hide')
  	
  }


  var showreplies = document.querySelector('.show-replies')
  showreplies.addEventListener('click', showOrHideReplies)
  function showOrHideReplies (e) {
    e.preventDefault()
    var alldiv = e.target.parentElement.parentElement.parentElement.parentElement
    Array.from(alldiv.children).forEach(div => {
      console.log('inside')
      if ( div.classList.contains('reply') && div.classList.contains('hide') ) {
        div.classList.remove('hide')
      } else if ( div.classList.contains('reply') && !div.classList.contains('hide')) {
      	div.classList.add('hide')
      }
    });
  }

</script>

