<%= render "item", item: @item, line_item: @line_item %>
<%= link_to 'Back', items_path %>
<hr>
<section class="reviews">
  <% if current_user %>
  <%= render partial: 'reviews/form' %>
  <% end %>
<section class="review-section">
<% @reviews.each do |review| %>
  <article class="comment user-comment">
    <%= render partial: "reviews/review", locals: {review: review }%>
      <div class="form-group">
       <%= form_tag review_replies_path, method: :create, id: 'reply-review-form' do %>
       
        	<%= hidden_field_tag 'review_replies[review_id]',  review.id %>
        	<%= hidden_field_tag 'review_replies[item_id]',  @item.id %>
        	<%= text_field_tag 'review_replies[title]','', class: "form-control", placeholder: 'Add your title' %>
        	<%= text_area_tag 'review_replies[description]','', class: "form-control", placeholder: 'Add your reply here' %>
        	<%= submit_tag 'Add reply', class: 'btn btn-primary' %>
          <% end %>
      </div>
   <div class='card'>
     <div class="card-body">
       <div class="row">
       </div>
    </div>
   </div>
  </article>
<% end %>
</section>
</section>

