<!DOCTYPE html>
<html>
  <head>
    <title>MyDinner</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <%= flash_messages %>
    <div class="container">
      <div class="row ">
        <div class="col-xs-6">
        <h3>Browse By Categories</h3>
          <%= form_with url: items_path,method: :get do |form| %>
            <div class='form-group'>
              <%= form.select :category, Category.all.pluck(:name,:id),{include_blank: true}, { class: 'form-control',data: 'disabled', onchange: 'this.form.submit();' } %>
           </div>
         <% end %>
       </div>
        <div class="col-xs-6 text-right">
          <div class="cart-text">
            <%= render 'layouts/cart_text', locals: current_order %></div>
      </div>
    </div>
    <hr>
    <%= yield %>
  </div>
    
  </body>
</html>
