<!DOCTYPE html>
<html>
  <head>
    <title>MyDinner</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://cdn.bootcss.com/Glide.js/3.3.0/css/glide.core.css" rel="stylesheet" id="glide-js-css">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
    
   

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <%= flash_messages %>
    <div class="container">
      <div class="row ">
        <div class="col-xs-6">
        <h3>Browse By Categories</h3>
          <%= form_with url: items_path,method: :get do |form| %>
            <div class='form-group'>
              <%= form.select :category, Category.all.pluck(:name,:id),{include_blank: true}, { class: 'form-control',data: 'disabled', onchange: 'this.form.submit();' } %>
           </div>
         <% end %>
       </div>
        <div class="col-xs-6 text-right">
          <div class="cart-text">
            <%= render 'layouts/cart_text', locals: current_order %></div>
      </div>
    </div>
    <hr>
    <%= yield %>
  </div>
   
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
